.container{
  padding: 0 2rem 0 2rem;
}

.button {
  font-weight: 500;
}

.quote {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.title {
  color: #fff;
  line-height: 1.2;
}

.subtitle {
  color: #fff;
  font-style: italic;
}

.subtitle:before {
  content: '⏤ '
}

@media (max-width: 768px) { 
  .container {
    padding: 0 0.5rem 0 0.5rem;
  }
}